div(class = 'header')
    p(id="logout-button", onclick='sendLogoutRequest()') Logout

    script(src="../js/logout.js", type="text/javascript")
    style.
        .header {
            background-color: #8FBC8F;
            text-align: left;
        }

        #logout-button {
            text-decoration: underline;
            color: #1212ff;
            cursor: pointer;
        }